// Colors
$color-primary: #001824;
$color-highlight: #73021b;
$color-white: #FFFFFF;
// END OF COLORS



// SPACING
$page-margins: 2.5rem;
$margin-sm: 1rem;
$margin-m: 2rem;
$margin-l: 3rem;

$padding-sm: .7rem;
$padding-m: 1.5rem;
$padding-l: 3rem;
// END OF SPACING