@import "./typography.scss";

// Colors
$color-primary: #001824;
$color-highlight: #73021b;
$color-white: #FFFFFF;
$color-light-grey: #FAFAFA;
$color-mid-grey: #CACACA;
$color-dark-grey: #747474;
// END OF COLORS

// BREAKPOINTS
$bp-xs: 480px;
$bp-sm: 768px;
$bp-m: 1024px;
$bp-l: 1280px;
// END OF BREAKPOINTS


// TYPOGRAPHY
$font-body: "Poppins";
$font-flair: "Playfair";
$font-title-size: 3.224rem;
$font-subtitle-size: 1.612rem;

@media all and (max-width: $bp-xs){
    $font-title-size: 2.5rem;
    $font-subtitle-size: 1.551rem;
}

// END OF TYPOGRAPHY


// SPACING
$page-margins: 2.5rem;
$margin-sm: 1rem;
$margin-m: 2rem;
$margin-l: 3rem;
$margin-xl: 5rem;

$padding-sm: .7rem;
$padding-m: 1.5rem;
$padding-l: 3rem;
$padding-xl: 6rem;
// END OF SPACING





// 
$border-r-m: 1.9rem ;
