@import './constants.style.scss';

.hero{
    height: 100%;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: $padding-l;
    color: $color-white;

}

.hero__logo{
    width: 500px;
    flex: 1;
    object-fit: contain;
    margin-bottom: $margin-m;
}