@import './constants.style.scss';

.nav-bottom {
    position: absolute;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    left: 0;
    right: 0;
    bottom: 0;
    padding-right: $page-margins;
    padding-left: $page-margins;
    padding-top: $padding-sm;
    color: $color-white;
    font-family: $font-flair;
   

    &.dark{
       color: $color-primary;
    }

}

.nav-bottom__head{
    font-family: $font-flair;
}
.nav-bottom__right{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   
}

.nav-bottom__social-link{
    padding: .35rem;
    border-radius: 50%;
    border: 1px solid $color-white;
    color: $color-white;
    margin: 0 $margin-sm;
    height: 2.5rem;
    width: 2.5rem;
    transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);

    &.dark{
        border-color: $color-primary;
        .nav-bottom__social-icon{
          
            fill: $color-primary;
            path{
                fill: $color-primary;
            }
        }
    }


    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    
}

.nav-bottom__social-icon{
    flex: 1;
    fill: $color-white;
    path{
        fill: $color-white;
    }
    

    
}