@import './constants.style.scss';

.nav {
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: $page-margins;
    padding-left: $page-margins;
    padding-top: $page-margins;

    &.light{
        .nav__menu-span{
            background-color: $color-white;
        }
        .nav__brand{
            color: $color-white;
        }
        
    }


    @media screen and (max-width: $bp-xs){
        padding: $padding-sm;
    }

}
.nav__left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__brand{
    color: $color-primary;
}

.nav__menu-trigger{
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1.35s;

    &:hover{
        cursor: pointer;
        align-items: flex-start;

        .nav__menu-span{
            transform: scaleX(.7);
        }
    }

    &.active{
        .nav__menu-span:nth-child(1){
            transform: rotate(45deg) translateY(23px);
        }
        .nav__menu-span:nth-child(2){
            opacity: 0;
        }
        .nav__menu-span:nth-child(3){
            transform: rotate(-45deg) translateY(-23px);
        }

        &:hover{
            .nav__menu-span{
                transform: scaleX(1);
            }
            .nav__menu-span:nth-child(1){
                transform: rotate(45deg) translateY(23px);
            }
            .nav__menu-span:nth-child(2){
                opacity: 0;
            }
            .nav__menu-span:nth-child(3){
                transform: rotate(-45deg) translateY(-23px);
            }
        }
    }
}

.nav__menu-span{
    display: block;
    width: 70px;
    height: 3px;
    border-radius: 10px;
    background-color: $color-primary;
    opacity: 1;
    transition: all .54s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav__menu-span:nth-child(odd){
    width: 50px;
}


// overrides for #fp-nav which come from fp itself
#fp-nav.fp-left{
    left: $page-margins !important;
    
    &  ul li a span {
        width: 30px;
        border-radius: 10px;
        background: $color-white;
    }
}

* {
    // outline: 1px solid red;
}