@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
  }

  @font-face{
      font-family: "Playfair";
      src: url("../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf");
  }